&model_para
rt = 1.0,
la = 6,
lb = 6,
beta = 40.0,
dtau = 0.1,
nu =  0.0,
rhub = 99.0,
rhub_plq = 0.0,
alpha = 0.0,
theta = 0.0,
nflr = 8,
lprojplqu = F,
lproju = T,
xmag = 0.0,
flux_x = 0.0001,
flux_y = 0.0,
/
&ctrl_para
ltau = F,
obs_eqt_mid_len = 21,
nwrap = 10,
nsweep = 20,
nbin = 3
/
